@import '../theme';

#main-menu {
  padding: 20px 0 0 20px;

  a {
    color: darken($company-color, 5%);
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }

    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}
